@media (min-width: 0px) and (max-width: 992px){	
	/* navbar start */
	.navbar-light .navbar-nav .nav-link {
	  	text-align: center;
	    color: #ffffff;
	    font-weight: 600;
	    background: rgba(0, 0, 0, 0.7);
	    border-bottom: 2px solid #fff;
	    max-width: 140px;
	    margin-left: auto;
	}
	/* nabar end */	
}
@media (min-width: 0px) and (max-width: 668px){
	/*header start*/
	header h1{
		font-size: 28px;
	}
	/*header end*/
}
/*testimonials start*/
@media (min-width: 768px) and (max-width: 810px){
	.testimonials .carousel-item .testimonial-right .text-start, .testimonials .carousel-item .testimonial-right figcaption{
		font-family: 'Cardo', serif;
  		font-style: italic;
  		font-size: 16px;
  	}
}
@media (min-width: 811px) and (max-width: 1040px){
	.testimonials .carousel-item .testimonial-right .text-start, .testimonials .carousel-item .testimonial-right figcaption{
		font-family: 'Cardo', serif;
  		font-style: italic;
  		font-size: 18px;
  	}
}
/*testimonials end*/

